body {
  text-align: justify;
}

.caption {
  font-size: .8rem;
  margin-top: 0;
  color: #757575;
  font-style: italic;
}

.caption p {
  font-size: .8rem;
  margin-top: 0;
  color: #757575;
  font-style: italic;
}

.bd-sidebar {
  overflow-y: scroll;
}

#last-posts h2 {
  font-size: var(--pst-font-size-h3);
}

#learning-by-doing h2 {
  font-size: var(--pst-font-size-h3);
}

#last-tweets h3 {
  color: rgba(var(--pst-color-h2),1);
}
